doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="refresh", content="5;url=https://goldsmartchain.com")
    title=title
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        height:100vh;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        width: 500px;
        height: 300px;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h1 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 32px;
        color: #1f88be;
      }
      h4{
        margin-top:20px;
        text-align:center;
        margin-bottom:0
      }
      img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }

  body
    div.container
      img(src=`/${icon=='t' ? 'checked.png' : 'close.png'}`)
      h1= status
      h4="Redirecting in...5sec"
    //- script.
    //-   setTimeout(()=>{
    //-   window.location="https://fervent-curie.185-178-192-38.plesk.page/"
    //-   },5000)